<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="{% url 'home' %}">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">Categories</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'home' %}">All Products</a></li>
                        <li>
                            <hr class="dropdown-divider"/>
                        </li>
                        {% for category in categories %}
                            <li><a class="dropdown-item"
                                   href="{% url 'category_products' category.slug %}">{{ category.title }} </a></li>
                        {% endfor %}
                    </ul>
                </li>
                {% if user.is_authenticated %}
                    <div class="text-center">
                    <a class="btn btn-outline-warning mr-2"
                       href="{% url 'add_product' %}">Add Product</a>
                {% endif %}
            </ul>
            {% if user.is_authenticated %}
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Logout</button>
                </form>
            {% else %}
                <div class="d-flex justify-content-end">
                    <!-- Dropdown for authentication -->
                    <div class="dropdown me-2">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="authDropdown"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            Authentication
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="authDropdown">
                            <li><a class="dropdown-item" href="{% url 'login' %}">Login</a></li>
                            <li><a class="dropdown-item" href="{% url 'register' %}">Register</a></li>
                        </ul>
                    </div>
                </div>
            {% endif %}

            <div class="d-flex justify-content-end">
                <form class="d-flex ms-auto">
                    <input type="text" name="search" class="form-control" placeholder="Search product">
                    <button class="btn btn-outline-primary" type="submit">
                        <i class="bi-search-fill me-1"></i>
                        Search
                    </button>
                </form>
            </div>

        </div>
    </div>

</nav>

{% block content %} {% endblock %}
<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2024</p></div>
</footer>